@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lock-overlay">
    <h1 class="lock-welcome">Arbat motors.</h1>
    <a asp-area="" asp-page="/Dashboards/DefaultDashboard">
        <i class="fas fa-motorcycle fa-5x"></i>
    </a>
</div>



